/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 25, 2015, 5:56:11 PM
    Author     : sajib
*/

*{
    margin: 0;
    padding: 0;
}

.menu{
    
    border: 1px solid black;
    width: 300px;
    list-style: none;
    position: relative;
    margin-left: 300px;
    margin-top:100px;
    
    li{
        border-bottom: 1px solid black;
        position: relative;
        a{
            position: relative;
            display: block;
            padding: 20px;
            transition: all 2s;
            z-index: 99999;
            
            opacity: 0.5;
        }
        
        img{
            position: absolute;
            opacity: 0;
            left: 0;
            top: 0;
            transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
            height: 100%;
            z-index: -6661;
        }
        
    }
    
    li:hover img{
            opacity: 1;
            left: 300px;
            top: 0;
    }
    
    
}





































/*
body{
    padding-left: 300px;
    padding-top: 150px;
}

.outer{
    font-size: 30px;
    height: 200px;
    width: 550px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: coral;
    text-align: center;
    transition: all .5s;
    transition-timing-function: ease-out;
    transform-origin: bottom left;
}

.outer:hover{
    
    transform: rotate(10deg);
}

p::before{
    content: "This is ADDED ";
    
}
p::after{
    content: "This is ADDED ";
}
*/
